@model ZNewShopping.Views.VIewModel.ViewModelCheck

<form method="post" asp-controller="Check" asp-action="Checkout" class="form-main">
    <section id="cart_items">
        <div class="container">
            <div class="breadcrumbs">
                <ol class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li class="active">Check out</li>
                </ol>
            </div><!--/breadcrums-->
            <div class="shopper-informations">
                <div class="row">
                    <div class="col-sm-5 clearfix">
                        <div class="bill-to">
                            <p>배송정보</p>
                            <div class="form-one">
                                <input type="text" placeholder="이름" asp-for="ShipInfo.Name" required/>
                                <input type="text" placeholder="주소" asp-for="ShipInfo.Address" required/>
                                <input type="text" placeholder="세부사항" asp-for="ShipInfo.Detail" required/>
                                <button class="btn btn-primary" type="button" onclick="searchZip()">우편번호찾기</button>
                            </div>
                            <div class="form-two">
                                @*@Html.TextBoxFor(m => m.Zipcode, new { placeholder = "우편번호" })*@
                                <input type="text" placeholder="우편번호" asp-for="ShipInfo.Zipcode" required/>
                                <input type="tel" pattern="[0-9]{11}" placeholder="전화번호1(-없이)" asp-for="ShipInfo.Phone1" required/>
                                <input type="tel" pattern="[0-9]{11}" placeholder="전화번호2(-없이)" asp-for="ShipInfo.Phone2" />
                                <span>
                                    <label><input type="checkbox" onclick="getInfo()"> 기존 정보 가져오기</label>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="order-message">
                            <p>전달사항</p>
                            <textarea name="message" placeholder="Notes about your order, Special Notes for Delivery" rows="12"></textarea>
                            <label><input type="checkbox"> Shipping to bill address</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="review-payment">
                <h2>Review & Payment</h2>
            </div>

            <div class="table-responsive cart_info">
                <table class="table table-condensed">
                    <thead>
                        <tr class="cart_menu">
                            <td class="image">Item</td>
                            <td class="description"></td>
                            <td class="price">Price</td>
                            <td class="quantity">Quantity</td>
                            <td class="total">Total</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Carts.CartLine != null)
                        {
            @foreach (var item in Model.Carts.CartLine.ToList())
            {
                <tr>
                    <td class="cart_product">
                        <a href="#"><img src="images/cart/one.png" alt=""></a>
                    </td>
                    <td class="cart_description">
                        <h4><a href="#">@item.Product.Name</a></h4>
                        <p>@item.Code</p>
                    </td>
                    <td class="cart_price">
                        <p>@item.Product.Price</p>
                    </td>
                    <td class="cart_quantity">
                        <div class="cart_quantity_button">
                            <a class="cart_quantity_up" href="#"> + </a>
                            <input class="cart_quantity_input" type="text" name="quantity" value="1" autocomplete="off" size="2">
                            <a class="cart_quantity_down" href="#"> - </a>
                        </div>
                    </td>
                    <td class="cart_total">
                        <p class="cart_total_price">$59</p>
                    </td>
                    <td class="cart_delete">
                        <a class="cart_quantity_delete" href="#"><i class="fa fa-times"></i></a>
                    </td>
                </tr>
}}
                    </tbody>
                </table>
            </div>
            <div class="payment-options">
                <span>
                    <label><input type="checkbox"> 계좌이체</label>
                </span>
                <span>
                    <label><input type="checkbox"> 카카오페이</label>
                </span>
                <button class="btn btn-primary" type="submit" style="float:right">주문완료 및 결제하기</button>
            </div>
        </div>
    </section> <!--/#cart_items-->
</form>


<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    function searchZip() {
        new daum.Postcode({
            oncomplete: function (data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분입니다.
                // 예제를 참고하여 다양한 활용법을 확인해 보세요.
                $('#ShipInfo_Address').val(data.address);
                $('#ShipInfo_Zipcode').val(data.zonecode);
            }
        }).open();
    }
</script>

@if (@Model.ShipInfo != null)
{
    <script>
        function getInfo() {
        
            jQuery('#ShipInfo_Address').val(@Model.ShipInfo.Address);
            $('#ShipInfo_Detail').val(@Model.ShipInfo.Detail);
            $('#ShipInfo_Name').val(@Model.ShipInfo.Name);
            $('#ShipInfo_Phone1').val(@Model.ShipInfo.Phone1);
            $('#ShipInfo_Phone2').val(@Model.ShipInfo.Phone2);
        }
    </script>
}
